@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Universal selector: this applies to everything */
* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* vh: viewport height => take 100% of the viewport heinght */
  overflow: hidden; /* don't want to show scrollbars by default */
  margin: 0;
}
